<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<input type="date" id="fromDate">
<input type="date" id="toDate">

<select id="currency">
    <option value="usd">USD</option>
    <option value="eur">EUR</option>
    <option value="gbp">GBP</option>
</select>

<div>
    Min:<p id="min"></p>
    Max:<p id="max"></p>
</div>

<canvas id="myChart" width="400" height="400"></canvas>
